/* font-family: 'Ubuntu', sans-serif; 
font-family: 'Quattrocento Sans', sans-serif;
*/
/* header */
.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;


}

header {
    display: flex;
    padding: 57px 98px;
    justify-content: space-between;

}

.header_nav {
    display: flex;

    align-items: center;
}

.nav_ul {
    display: flex;
}

.navlimain {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Ubuntu', sans-serif;
    color: #27187F;

}

.nav_li {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #c4ccf3;
    margin-left: 50px;
}

.searchbutton {
    display: flex;
    justify-content: flex-end;
    width: 221px;
    border: 3px solid #27187F;
    border-radius: 10px;
}

/* section */
.title {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    color: #27187F;
    margin-bottom: 68px;
}

section {
    /* display: flex; */
    background: #DDEAF8;
    padding: 199px 98px 135px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 55px 22px;
}

.card1 {
    padding: 33px 30px;
    width: 400px;
    height: 333px;
    background: #FFFFFF;
    border-radius: 10px;
;
}


.article {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    font-family: 'Ubuntu', sans-serif;
    color: #133B3A;
    margin-top: 33px;
}